/* This ccs-style for main page */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url(../../images/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;  
    flex-flow: wrap;
    align-items: flex-end; 
    justify-content: center;
}

.link_group { 
    height: 142px;
    width: 450px; 
    font-size: 0;
    margin: 0 0 50px 0; 
}

.center_content {
    margin: 0 50px;
}

.group_content {
    width: 150px;
    padding: 60px 0;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-sizing: border-box;
    color: #E7E5DD;
    border-radius: 25px;
    border: 3px solid #E7E5DD;
    text-decoration: none;
    font-family: Quicksand-Medium;
    background: rgb(90, 88, 80, 0.4);
}
  .group_content:hover {
    color: rgb(248, 246, 239);
    background: rgb(90, 88, 80, 0.6);
  }

  .button_elements_link {
    opacity: 0;
    padding-left: 5px; 
    padding-right: 5px;
    font-weight: bold;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .group_content:hover > .button_elements_link {
    opacity: 1;
    color: #BDB9AB;
  }

  .description_link {
    position: absolute;
    bottom: 50%;
    width: 650px;
    padding: 10px;
    font-size: 30px;
    margin-left: -114px;
    box-sizing: border-box;
    border: 3px #E7E5DD;
    font-family: Quicksand-Medium;
    border-style: none solid none solid;
    background: rgb(90, 88, 80, 0.4);
    pointer-events: none;
    color: #E7E5DD;
    opacity: 0;
    
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .link_example .description_link {
    margin-left: -255px;
  }

  .link_other .description_link {
    margin-left: -415px;
  }

  .description_link > p {
    text-align: center;
  }

  .link_about:hover > .description_link ,
  .link_example:hover > .description_link,
  .link_other:hover > .description_link {
    opacity: 1;
  }