/* This ccs-style for main page */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url(../../images/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  
}

.link_group { 
    width: 450px;
    margin: 0 auto;
    font-size: 0;
}

.center_content {
    margin: 0 50px;
}

.group_content {
    width: 150px;
    padding: 60px 0;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-sizing: border-box;
    color: #E7E5DD;
    border-radius: 25px;
    border: 3px solid #E7E5DD;
    text-decoration: none;
    font-family: Quicksand-Medium;
    background: rgb(90, 88, 80, 0.4);
}
  .group_content:hover {
    color: rgb(248, 246, 239);
    background: rgb(90, 88, 80, 0.6);
  }
  .group_content span {
    opacity: 0;
    padding-left: 5px; 
    padding-right: 5px;
    font-weight: bold;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .group_content:hover span {
    opacity: 1;
    padding-left: 10px; 
    padding-right: 10px;
    color: #BDB9AB;
  }
